<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" class="img-responsive" alt="" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a style="cursor: pointer;" class="btn btn-success" (click)="onAddToShoppingList()">
            Add ingredient
        </a>
        <a style="cursor: pointer;" class="btn btn-primary" (click)="onEditRecipe()">Edit recipe</a>
        <a style="cursor: pointer;" class="btn btn-danger" (click)="onDelete()">
            Delete recipe
        </a>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
                {{ingredient.name}} -- ({{ingredient.amount}})
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>